/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* select all on the page */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* force inheritance to body border box */
}

html {
  /* not 16px because it's easier to calculate with rem
  it allows us to divide all pixeled font sizes to 10 to convert them in rem
  
  62.5% === 10px <=> root font size
  */
  font-size: 62.5%;
}

body {
  /* border-box allows to not add to the total width or height the borders */
  box-sizing: border-box;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /* when resizing the background is focus on the top of the image */
  /* define the four coordinates of the polygones that will contain the header */
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%; /* we translate from the middle of the div header */
  transform: translate(
    -50%,
    -50%
  ); /* we translate from the middle of the div text-box */

  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden; /* fix the issue of the animation going a little bit top */
  /* no one know how to really fix this for now */

  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;

  /* animation-iteration-count: 3;
  animation-delay: 3s; */
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;

  animation: moveInRight 1s ease-out;
  /* animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out; */
}

@keyframes moveInLeft {
  /* give the name of the animation */
  0% {
    opacity: 0;
    transform: translateX(-10rem) /*rotate(-50deg)*/;
  }
  /* 60% {
    transform: rotate(120deg);
  } */
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  /* give the name of the animation */
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  /* give the name of the animation */
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* :link is a pseudo-class and :visited too (after we clicked once) */
.btn:link,
.botn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block; /* don't touch the h1 so */
  border-radius: 10rem;
  transition: all 0.2s; /* always on the initial state */
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translateY(
    -3px
  ); /* negative because Y goes from the top to the bottom */
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px); /* related to the initial :link state */
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

/* render the same btn after clicking */
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  /* applies the keyframe to 0% before animation starts */
}
