/* :link is a pseudo-class and :visited too (after we clicked once) */
.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block; /* don't touch the h1 so */
    border-radius: 10rem;
    transition: all 0.2s; /* always on the initial state */
    position: relative;
    font-size: 1.6rem;
  }

  &:hover {
    transform: translateY(
      -3px
    ); /* negative because Y goes from the top to the bottom */
    box-shadow: 0 0.5rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px); /* related to the initial :link state */
    box-shadow: 0 0.25rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  /* render the same btn after clicking */
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
    /* applies the keyframe to 0% before animation starts */
  }
}
